<div id="cabecera">
    <img src="{{cabecera}}" alt="">
</div>
<div id="que">
<p>Las Notarias Públicas son muy útiles y necesarias en toda zona habitacional urbana, 
dan fe de procesos, posesiones y actos cívicos entre ciudadanos, 
así mismo legaliza la existencia y veracidad de bienes en posesión pública y privada de las personas, 
por ello todos necesitamos usar una alguna vez o varias ocaciones en nuestra vida. </p>
</div>

<h3>Contactanos!!!</h3>
<div id="contact">
    <form [formGroup]="form" (ngSubmit)="guardarCambios()">
        <div class="container">
            <div class="row justify-content-center">
                <div class="form-group col-6">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" id="nombre" placeholder="Nombre" formControlName="nombre">
                </div>
                <div class="form-group col-6">
                    <label for="apellido">Apellido</label>
                    <input type="text" class="form-control" id="apellido" placeholder="Apellido" formControlName="apellido">
                </div>
                <div class="form-group col-6">
                    <label for="correo">Correo</label>
                    <input type="text" class="form-control" id="correo" placeholder="Correo" formControlName="correo">
                </div>
                <div class="form-group col-6">
                    <label for="asunto">Asunto</label>
                    <input type="text" class="form-control" id="asunto" placeholder="Asunto" formControlName="asunto">
                </div>
                <div class="form-group col-6">
                    <label for="mensaje">Mensaje</label>
                    <!--input type="text" class="form-control" id="apellido" placeholder="Another input" formControlName="apellido"-->
                    <textarea name="mensaje" id="" cols="30" rows="10" class="form-control" placeholder="Mensaje"
                        formControlName="mensaje"></textarea>
                </div>
            
                <div class="form-group" id="a1">
                    <button type="submit" class="btn btn-outline-primary">Enviar</button>
                </div>
            </div>
        </div>
    </form>
</div>

<!-- Footer -->
<footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-facebook-f"></i
        ></a>
  
        <!-- Twitter -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-twitter"></i
        ></a>
  
        <!-- Google -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-google"></i
        ></a>
  
        <!-- Instagram -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-instagram"></i
        ></a>
  
        <!-- Linkedin -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-linkedin-in"></i
        ></a>
  
        <!-- Github -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-github"></i
        ></a>
      </section>
    </div>
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright:
      <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->

