

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preguntas Frecuentes</title>
</head>

<app-nav-home></app-nav-home>    


<body>
    <app-nav-home [texto]="enviar"></app-nav-home>
    <header class="encabezado">
        <h1 class="titulo">PREGUNTAS FRECUENTES </h1>
    </header>

    <section class="Contenido">
        
        <p>
            Hemos hecho un listado de preguntas frecuentes que realizan nuestros clientes. Si a pesar de ello aun no tuviera respuesta a su pregunta y sus dudas continúan puede llamarnos o escribirnos a través de nuestra sección de  <a href="#">contacto</a>
        </p>
            
        <h3> ¿Qué es un notario?</h3>
        <p>
            El notario es un profesional del Derecho, investido de fe pública por el Estado, que brinda seguridad jurídica y certeza en los actos y hechos de los que da fe, manteniendo siempre un alto nivel de profesionalismo, una total imparcialidad con los prestatarios del servicio y una plena autonomía en sus decisiones, las cuales sólo tienen por límite el marco jurídico y el estado de Derecho. 
        </p>
        <p>
            El notario ejerce su función con independencia del poder público y los particulares, teniendo a su cargo interpretar la voluntad de las partes y plasmar ésta en un instrumento público y auténtico, redactado bajo su responsabilidad y que puede ser una escritura pública, si se trata de dar fe de un acto jurídico, como por ejemplo un contrato; o bien una acta notarial, si se certifica un hecho jurídico o material, como por ejemplo una notificación.
        </p>
        <h3>
            ¿Qué es una escritura y qué un acta notarial?
        </h3>
        <p>
            La escritura notarial es el documento original, redactado y autorizado por el notario, en el que este hace constar actos jurídicos, tales como testamentos, poderes, adjudicación de bienes por herencia, y contratos como compraventas, donaciones, constitución de sociedades, etc., que requieren de esa formalidad, asegurándose en cada caso de que se cumpla con todos los requisitos legales para que surtan los efectos deseados por quienes los otorgan, brindándoles con ello seguridad jurídica.
        </p>
        <p>
            Acta notarial es el documento que redacta y autoriza el notario, en el que hace constar hechos presenciados por él o que le consten, tales como ratificaciones de firmas, constancias de hechos, notificaciones, etc., brindando de la misma forma certeza y seguridad jurídica.
        </p>
        <h3>
            ¿Qué otras actividades puede realizar un notario?
        </h3>
        <p>
            El notario está dedicado al servicio del bien y la paz de la ciudad, al respeto y cumplimiento del Derecho y es también un auxiliar de la administración de justicia. Por ello, además de los oficios notariales, el notario puede desempeñar actividades que no causen conflicto o dependencia con la dación de fe y con su imparcialidad, tales como
        </p>
        <li>Cargos académicos, docentes y de dirección de instituciones académicas, de beneficencia pública o privada, o de colaboración ciudadana.</li>
        <li>Cargos gratuitos en toda clase de asociaciones, sociedades o instituciones, cuyos fines no sean lucrativos.</li>
        <li>Cargos de tutor, curador o albacea.</li>
        <li>Cargos de secretario de sociedades o asociaciones.</li>
        <li>También puede ser árbitro, secretario arbitral, mediador jurídico y conciliador</li>
        <li>El notario puede intervenir, patrocinar y representar a los interesados en procedimientos judiciales, en los que no haya contienda o en trámites y procedimientos administrativos.</li>  

        <h3>
            ¿Qué es un testamento público abierto y para qué sirve?
        </h3>
        <p>
            El testamento público abierto es un medio seguro y eficaz que permite al interesado disponer libremente de los bienes y derechos que tenga, para que la propiedad y titularidad de los mismos se transmita a las personas que el propio interesado designe y que serán sus herederos. El testamento es un acto que se otorga en voz alta ante Notario y en el que ya no se requiere de testigos, salvo que así lo pidan el testador o el Notario o bien en los casos de alguna incapacidad del testador.
        </p>
        <p>
            El testador debe manifestarle al Notario cual es su voluntad, es decir a quien o a quienes quiere que pasen sus bienes cuando muera; el Notario, después de escucharlo y aconsejarlo, redactará el testamento en una escritura, le dará lectura en voz alta ante el testador y enseguida será firmado; con éste sencillo procedimiento quedará otorgado su testamento sin necesidad de hacer otro trámite ni de firmar ningún otro documento
        </p>
         <h3>
            ¿Cuánto cuesta el testamento ante Notario?
         </h3>
         <p>
             El testamento, contra lo que mucha gente piensa, tiene un costo sumamente bajo, sobre todo si se le compara con los gastos de un juicio intestado.
         </p>
    </section>
    <app-footer></app-footer>

</body>
</html>

<p>


</p>