.encabezado{
    padding: 1em 2em;
}

.titulo{
    text-align: center;
    margin-top: 130px;
    
}
.encabezado{
    background-image: url(../../../../assets/Imgpreguntas.jpg);
    height: 260px;
    background-size: cover;
}

.Contenido{
    color: white;
    padding: 3% 15% 0 15%;
}

#pie{
    margin-bottom: 0; 
}

@media screen and (max-width: 900px) {
    .Contenido{
        
    }


}