<h1 class="text-layout">Registrar Usuario</h1>
<p-messages [(value)]="msgs1" [enableService]="false"></p-messages>
<div class="card">
    <form class="p-fluid p-formgrid p-grid" [formGroup] ="miFormulario" (ngSubmit)="submitForm()">
            <div class="p-field p-col-12">
				<label class="text-layout" for="firstname2">Nombre Completo</label>
					<input class="p-inputtext"
						   type="text" 
						   pInputText
						   placeholder="Nombre de ususario"
						   formControlName="name"> 
						   <small *ngIf="campoEsValido('name')" id="username2-help" class="p-error">Usuario Invalido</small>
			</div>
			<div class="p-field p-col">
				<label class="text-layout" for="firstname2">Coreo electronico</label>
				<input class="p-inputtext"
						placeholder="Ingresa email"
					   type="email" 
						pInputText
						formControlName="email"> 
				<small *ngIf="campoEsValido('email')" id="username2-help" class="p-error">{{emailErrorMsg}}</small>
			</div>
			<div class="p-field p-col">
				<label class="text-layout">Telefono</label>
				<input class="p-inputtext"
						placeholder="Ingresa número telefónico"
						type="text" 
						formControlName="phone"
						pInputText> 
				<small *ngIf="campoEsValido('phone')" id="username2-help" class="p-error"> {{phoneErrorMsg}} </small>

			</div>	   
			<div class="p-field p-col-12">
				<label class="text-layout p-mb-4" for="firstname2">Seleccione Rol</label>
				
				<div class="p-field p-col">
					<p-radioButton class="text-layout" name="role" label="Administrador" value="ADMIN" formControlName="role"></p-radioButton>
				</div>
				<div class="p-field p-col">
				
					<p-radioButton class="text-layout" name="role" label="Usuario" value="USER" formControlName="role"></p-radioButton>
				</div>
			   </div>
			<button pButton label="Registrar" type="submit"> </button>			   
    </form>
</div>
