<div>
    <app-nav-home></app-nav-home>
    <section class="Contenido">
        <img src="../../../../assets/Logo.png" alt=""  class="imagen">
        <h1 class="titulo">NOTARIA 72</h1>
        <h3 class="subtitulo">BIENVENIDO</h3>
        <h2 class="subtitulo">Aguascalientes, Aguascalientes, Mexico</h2>
        <p class="lema">-La verdad nunca daña una causa que es justa-</p>
        <div class="boton">
            <button routerLink='./nosotros'  type="button" class="btn btn-success">Conocenos</button>
        </div>
    
</section>
    <app-footer></app-footer>
</div>
